<app-navbar></app-navbar>
<div class="yellow">
    <div>
        <i class="bi bi-plus-lg"></i> 
        FIND TALENT
    </div>
    <div style="font-size: large;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Your dream candidate is just around the corner.
    </div>
</div>
<div style="overflow: hidden; height:500px">
    <img class="image" src="./assets/redd-f-5U_28ojjgms-unsplash.jpg">
</div>
<div class="flex-container-JOBS">
    <div>1</div>
    <div>2</div>
    <div>3</div>  
     <div>1</div>
    <div>2</div> 
  </div>