
<app-navbar class="adjust"></app-navbar>
<div class="image" >
  
   
<div class="home">
    <div>
        FRESH 
    </div>
    <div>
        TALENT <i class="bi bi-plus-lg" style="color: #fdd000"></i>
    </div>
    <div>
        TOP
    </div>
    <div>
        EMPLOYERS
    </div>

 <div style="font-size: xx-large; position: relative;top: 20px;">
    create your future with us
 </div>
 <div class="flex-container-buttons">
    <div (click)="redirecttojobs()">
FIND TALENT
    </div>
    <div style="position: relative;left:20px">
        FIND A JOB
    </div>
 </div>
</div>
</div>

<div class="yellow">
    <div>
        <img src="./assets/a38016_fd00a530c28c4050be549656fc31fae3.jpg" >
       <div >
        GRAPHIC DESIGNER
       </div>
    </div>
    
   <div>
    <img src="./assets/a38016_82beaebca0b6424db16e3c0537bdc20e.jpg"  >
    <div style="right:10px">
COPYWRITERS
    </div>
   </div>
   <div >
    <img src="./assets/a38016_10163871fbdc484994120ad3806850ad.jpg"  >
    <div style="left:6px">
CREATIVE DIRECTORS
    </div>
   </div>
   <div style="    padding-left: 34px;">
    <img src="./assets/a38016_ba78b19924174463ab70408fa36088fd.jpg"  >
    <div style="left:6px">
CLIENT MANAGERS
    </div>
   </div>
</div>
<div class="about">
    <i class="bi bi-plus-lg"></i> 
    ABOUT US
</div>
<div style="    padding-left: 23%;
padding-top: 2%;
font-size: x-large;">
    The people behind Creative Corner:
</div>
<div class="flex-container-people">
    <div>
        <img src="./assets/8d13be_2d48e928293d471283c6584bc165c1ec.jpg"  >
    </div>
    <div>
        <img src="./assets/8d13be_9234a306c2e64a0594c91e97ba01796b.jpg"  >
    </div>
    <div>
        <img src="./assets/8d13be_662b99b9bd1e4020ae2929e71e372996.jpg"  >
    </div>  
    <div>
        <img src="./assets/8d13be_627c56bf5be848ba849c5d2aa0df90ce.jpg"  >
    </div>
  </div>
  <div class="flex-container-about">
    <div>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</div>
    <div>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</div>
  </div>
  <div class="contact">
    <i class="bi bi-plus-lg"></i> 
    CONTACT US
    <div class="flex-container-about" style="position: relative;right: 161px;">
        <div><i class="bi bi-envelope-at-fill"></i> haryshwa123@gmail.com</div>
        <div style="right: -24px;"><i class="bi bi-telephone-plus-fill"></i> +91 98035 73542</div>
    </div>
</div>
<div class="footer">
    <i class="bi bi-c-circle"></i>
    2023 BY HARYSHWA. Powered and secured by GANESH
</div>